.cursor/

front/node_modules/
front/.next/
front/.env
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local


backend/node_modules/
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
